*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    overflow-x: hidden;
}
@media (max-width: 768px){
  html { font-size: 15px;}
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

.router-view{
    /* background-color: gray; */
    /* padding: 20px 0 60px 0;  */
}
.name-font {
  font-family: "Brush Script MT", cursive;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
.selected-font {
  font-family: "Brush Script MT", cursive;
  font-style: normal;
  font-variant: normal;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-r-fade-enter-active {
  transition: all .3s ease;
  transition-delay: .5s;
}
.slide-r-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-r-fade-enter, .slide-r-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}
.slide-l-fade-enter-active {
  transition: all .5s ease;
  transition-delay: .5s;
}
.slide-l-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-l-fade-enter, .slide-l-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}
.no-margin-button {
  margin-bottom: 0px !important;
}
.margin-top {
	margin-top: 10%;
}
.margin-top5 {
	margin-top: 5%;
}
.skills-banner, .contacts-banner, .tutorial-banner{
  width: 100%;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding:  5% 0px 2% 0px;
  overflow-x:hidden;
}
.skills-banner{
  background-image: url('../skills.png');
}
.contacts-banner{
  background-image: url('../books-contact-s.jpg');
}.tutorial-banner{
  background-image: url('../images/whiteboard.jpg');
  background-position: center 65%;
}

.code-banner{
  width: 100%;
  background-image: url('../../assets/images/code-glass.jpeg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding:  15% 0px 15% 0px;
  overflow-x:hidden;
}
.contact-image {
	  height: 45rem;
	  background-image: url('../contact.png');
	  background-size:     cover;
	  background-repeat:   no-repeat;
	  background-position: center center;
	  padding:  15% 0px 5% 0px;
	  -webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
	  overflow-x:hidden;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 768px)
{
  .contact-image { display: none }
}

.transparent-box {
	backdrop-filter: blur(5px);
	background: rgba(34,34,34,0.70);
	padding: 10px 25em 10px 25em;
	margin-left: -25em;
	margin-right: -25em;
}
.pad-10 {
	padding: 10px;
}
.about-box {
	background-color: gray;
}
.fluid {
 padding-right: 0px !important;
 padding-left: 0px !important;
}
.skills-image {
	  height: 20rem;
	  width: 30rem;
	  background-image: url('../skills.png');
	  background-size:     cover;
	  background-repeat:   no-repeat;
	  background-position: center center;
	  padding:  15% 0px 5% 0px;
	  -webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
	  overflow-x:hidden;
}
.box {
  opacity: 0;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}