<template>
  <div>
    <b-container fluid id="about">
    <b-row>
    <b-col lg="3">
      <div><router-link to="/hubspot-modules">HubSpot Modules And Templates</router-link></div>
      <b-list-group class="text-left">
        <router-link :to="{ name:'hubspot-module-google-maps' }"><b-list-group-item>Google Maps Module</b-list-group-item></router-link>

      </b-list-group>
    </b-col>
    <b-col lg="9">
      <transition name="slide-fade">
        <router-view></router-view>
      </transition>
    </b-col>
  </b-row>
  </b-container>
  </div>
</template>

<script>
  import { addtitle } from '../mixin/addtitle'
  import { track } from '../mixin/track'

  var description = 'Documentation menu for hubspot modules and templates created by Pablo Rosa'
  var title = 'HubSpot Modules and Templates documentation'

  export default {
    metaInfo: {
    // Children can override the title.
      title: title,
      meta: [
        {
          name: 'description', content: description
        },
        {
          name: 'name', content: title
        },
        {
          name: 'keywords', content: 'HubSpot data base, Vuejs'
        }
      ],
      link: [
        {rel: 'canonical', href: 'https://www.pablo-rosa.com/hubspot-modules/'}
      ]
    },
    mixins: [addtitle, track],
    name: 'modules',

    data () {
      return {
        title: title,
        description: description
      }
    }
  }
</script>

<style lang="css" scoped>
.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.list-group-item {
  font-size: 13px;
  padding: 0.3rem 0.3rem;
}
.list-group-item:hover, .list-group-item:hover  a, .router-link-active .list-group-item { background: #ffc107; color: white; }
.list-group a { text-decoration: none }

</style>