<template>
    <div class="text-left">
        <b-container>
            <b-carousel id="carousel2"
                              style="text-shadow: 1px 1px 2px #333;"
                              controls
                              indicators
                              background="#ababab"
                              :interval="4000"
                              img-width="1024"
                              img-height="200"
                              v-model="slide">

                    <!-- Text slides with image -->
                    <b-carousel-slide
                                      img-alt="link systems website screenshot"
                                      img-src="@/assets/images/map2.png">
                    <h3>5 Styles</h3>
                    </b-carousel-slide>
                    <b-carousel-slide
                                      img-alt="link systems website screenshot"
                                      img-src="@/assets/images/map3.png">
                    <h3>Satellite View</h3>
                    </b-carousel-slide>
                    <b-carousel-slide
                                      img-alt="link systems website screenshot"
                                      img-src="@/assets/images/map1.png">
                    <h3>Custom image Marker</h3>
                    </b-carousel-slide>
                  </b-carousel>
                  <b-row class="new-section">
                    <header>
                      <h2>Component Features</h2>
                    </header>
                  </b-row>
                  <b-row>
                    <ul>
                      <li><a href="#zoom">Initial Zoom Configuration</a></li> 
                      <li><a href="#marker">Custom Marker Image</a></li>
                      <li><a href="#styles">5 Styles Available</a></li>
                      <li><a href="#location">Add a location using Map Coordinates</a></li>
                      <li><a href="#address">Display the Address when a user Clicks the Marker</a></li>
                      <li><a href="#responsive">Responsive Design</a></li>
                    </ul>
                  </b-row>
          <b-row id="zoom" class="new-section">
          <div
              v-scroll="handleScroll"
              class="box">
              <h2>Initial Zoom Configuration</h2>
              <p>The zoom configuration provides the ability to select from 1 to 20, 1 being the world's map and 20 the Street View of the location</p>
              <p>Zoom 13</p>
              <b-img src="@/assets/images/zoom2.png" fluid />
          </div>
          <div
              v-scroll="handleScroll"
              class="box">
              <p>Zoom 4</p>
              <b-img src="@/assets/images/zoom1.png" fluid />


          </div>
          </b-row>
          <b-row id="marker" class="new-section">
            <div
              v-scroll="handleScroll"
              class="box">
            <h2>Custom Marker Image</h2>
            <b-img src="@/assets/images/map1.png"  fluid/>

          </div>
          </b-row> 
          <b-row id="styles" class="new-section">
            <div
              v-scroll="handleScroll"
              class="box">
            <h2>Available Styles</h2>
            <b-card-group deck
                              class="mb-4">
                    <b-card bg-variant="default"
                            text-variant="dark"
                            title="Default"
                            img-src="@/assets/images/map-theme1.png"
                            class="text-center">
                    </b-card>
                    <b-card bg-variant="Secondary"
                            text-variant="dark"
                            title="Gray"
                            img-src="@/assets/images/map-theme1.png"
                            class="text-center">
                    </b-card>
                    <b-card bg-variant="light"
                            text-variant="dark"
                            title="Light"
                            img-src="@/assets/images/map-theme1.png"
                            class="text-center">
                    </b-card>
                    </b-card-group>
                    <b-card-group deck>
                    <b-card bg-variant="dark"
                            text-variant="white"
                            title="Dark"
                            img-src="@/assets/images/map-theme1.png"
                            class="text-center">
                    </b-card>
                    <b-card bg-variant="warning"
                            text-variant="white"
                            title="Vintage"
                            img-src="@/assets/images/map-theme1.png"
                            class="text-center">
                    </b-card>
            </b-card-group>
            

          </div>
          </b-row> 

        </b-container>
    </div>

</template>

<script>
import { addtitle } from '../mixin/addtitle'
import { track } from '../mixin/track'

var description = 'Google Map module for Hubspot - documentation'
var title = 'HubSpot Modules - Google Maps'

export default {
  metaInfo: {
  // Children can override the title.
    title: title,
    meta: [
      {
        name: 'description', content: description
      },
      {
        name: 'name', content: title
      },
      {
        name: 'keywords', content: 'HubSpot data base, Vuejs'
      }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.pablo-rosa.com/hubspot-modules/hubspot-module-google-maps'}
    ]
  },
  name: 'hubspot-module-google-maps',
  mixins: [addtitle, track],

  data () {
    return {
      test: 0,
      title: title,
      description: description
    }
  }
}
</script>

<style scoped>
.new-section{
  margin-top:20px;
}
</style>