<template>
  <b-container fluid id="about">
    <b-row>
      <b-col align-self="end" md="12" class="fluid">
        <div class="name-font h1 about-box">About <span class="text-warning">me</span></div>
      </b-col>
      <b-col>
        <div>
          <h3 class="selected-font h3">Hello, I'm Pablo Rosa. </h3>
          <!-- <div> Professional web developer based in Tampa, FL.</div> -->
          <div class="selected-font h5 text-justify">Graduated with a Bachelor’s Degree in Computer Science, with a good
            combination of cross-functional skills including hardware and software. Worked as a computer technician and
            Web Developer while pursuing a bachelor’s degree in 2010.
          </div>
          <div></div>
        </div>
        <b-card-group deck style="justify-content: space-around;">
          <b-card title="Designer Certification"
                  img-src="@/assets/images/6-5322369-1524672625274.png"
                  img-alt="hubspot-academy certificate - HubSpot Designer"
                  img-top
                  tag="article"
                  style="max-width: 20rem;"
                  class="mb-2">

            <b-button href="http://academy.hubspot.com/certification" target="blank" variant="primary">Design
              Certificate
            </b-button>
          </b-card>
          <b-card title="Inbound Certification"
                  img-src="@/assets/images/24-5322369-1525100721804.png"
                  img-alt="hubspot-academy - HubSpot Designer certificate"
                  img-top
                  tag="article"
                  style="max-width: 20rem;"
                  class="mb-2">

            <b-button href="https://academy.hubspot.com/courses/inbound" target="blank" variant="primary">Inbound
              Marketing
            </b-button>
          </b-card>
          <b-card title="Hubspot Marketing Software Certification"
                  img-src="@/assets/images/hubspot-marketing-software-certificate.png"
                  img-alt="hubspot-academy certificate - Marketing Software"
                  img-top
                  tag="article"
                  style="max-width: 20rem;"
                  class="mb-2">

            <b-button href="http://academy.hubspot.com/certification" target="blank" variant="primary">CMS Developer
            </b-button>
          </b-card>
          <b-card title="Hubspot Marketing Software Certification"
                  img-src="@/assets/images/34-5322369-1553179838359.jpg"
                  img-alt="hubspot-academy certificate - CMS Developer"
                  img-top
                  tag="article"
                  style="max-width: 20rem;"
                  class="mb-2">

            <b-button href="http://academy.hubspot.com/certification" target="blank" variant="primary">CMS Developer
            </b-button>
          </b-card>
          <!-- Begin: HubSpot Academy - HubSpot Marketing Software Badge -->

          <!-- End: HubSpot Academy - HubSpot Marketing Software Badge -->

        </b-card-group deck>
        <!-- End: HubSpot Academy - Inbound (New) Badge -->
      </b-col>

    </b-row>
    <b-row class="services-section" style="background-color:white">
      <b-col>
        <b-container>
        <div class="text-left">
          <h2>HubSpot CRM Development</h2>
          <ul>
            <li>Responsive web design</li>
            <li>Custom Blog templates</li>
            <li>Custom Modules</li>
            <li>Landing Pages development</li>
            <li>Web applications</li>
            <li>HubSpot technical training</li>
            <li>SEO web upgrades</li>
            <li>HubDB Solutions</li>
          </ul>
        </div>
        </b-container>
      </b-col>
      <b-col>
        <b-container>
        <b-img src="@/assets/images/hubspot--logo.svg"></b-img>
        </b-container>
      </b-col>

    </b-row>
    <b-row class="services-section" style="background-color:white">
      <b-col>
        <b-container>
        <b-img class="laravel-logo" src="@/assets/images/laravel-logo.svg"></b-img>
        </b-container>
      </b-col>
      <b-col>
        <b-container>
        <div class="text-left">
          <h2>Laravel Framework</h2>
          <ul>
            <li>Web Development</li>
            <li>Web applications</li>
            <li>API Development</li>
            <li>UI design and development</li>
            <li>Deployment</li>
            <li>Integration with frontend frameworks like vuejs and Angular</li>
          </ul>
        </div>
        </b-container>
      </b-col>

    </b-row>
  </b-container>
</template>

<script>
  import {track} from './mixin/track'

  export default {
    mixins: [track],
    name: 'homepage',
    metaInfo: {
      // Children can override the title.
      title: 'Home',
      meta: [
        {name: 'description', content: 'Pablo Rosa is a Software/Web developer located in Tampa - FL '},
        {itemprop: 'name', content: 'Contact me | Pablo Rosa Website'},
        {itemprop: 'description', content: 'Use this form to contact Pablo Rosa and get your project going.'}
      ],
      link: [
        {rel: 'canonical', href: 'https://www.pablo-rosa.com/'}
      ]
    },
    data () {
      return {}
    }
  }
</script>

<style>
  .services-section {
    margin-top: 60px;
    background-color: #bebebe;
  }

  .laravel-logo {
    height: 300pt
  }
</style>
