<template>
  <b-container>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="contact-form">
      <h1>Contact Pablo Rosa</h1>
      <b-form-group id="name"
                    class="text-left"
                    label="First Name:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.firstname"
                      required
                      placeholder="Enter name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="lastname"
                    class="text-left"
                    label="Last Name:"
                    label-for="exampleInput3">
        <b-form-input id="exampleInput3"
                      type="text"
                      v-model="form.lastname"
                      required
                      placeholder="Enter  last name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="company"
                    class="text-left"
                    label="Company:"
                    label-for="exampleInput4">
        <b-form-input id="exampleInput4"
                      type="text"
                      v-model="form.company"
                      placeholder="Enter Company name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup1"
                    class="text-left"
                    label="Email address:"
                    label-for="email"
                    description="I'll never share your email with anyone else.">
        <b-form-input id="email"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter email">
        </b-form-input>
      </b-form-group>
      <b-form-input id="website"
                      type="website"
                      v-model="form.website"
                      required
                      placeholder="Enter website">
        </b-form-input>
      </b-form-group>
      <b-form-group id="message"
                    class="text-left"
                    label="How can I help?"
                    label-for="exampleInput5">
        <b-form-textarea id="exampleInput5"
                      type="text"
                      v-model="form.message"
                      placeholder="What can I do to help you?">
        </b-form-textarea>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
      <b-modal id="contact-modal" ref="contactModal" title="Contact" ok-only>
      <ui-icon :icon="modalIcon" color="danger"></ui-icon>
      <span class="my-4" v-text="modalText"></span>
      <p class="my-2" v-text="modalStatus" :class="requestStatus? 'text-success' : 'text-danger'"></p>
    </b-modal>
    </b-container>
  </div>
</template>

<script>
import { track } from './mixin/track'
export default {
  mixins: [track],
  name: 'contact',
  metaInfo: {
    // Children can override the title.
    title: 'Contact me',
    meta: [
      {name: 'description', content: 'Use this form to contact Pablo Rosa and get your project going.'},
      {itemprop: 'name', content: 'Contact me | Pablo Rosa\'s Website'},
      {itemprop: 'description', content: 'Use this form to contact Pablo Rosa and get your project going.'}
    ],
    link: [
      {rel: 'canonical', href: 'https://www.pablo-rosa.com/contact'}
    ]
  },
  data () {
    return {
      modalText: '',
      modalIcon: 'email',
      modalStatus: 'Sending...',
      requestStatus: true,
      form: {
        email: '',
        firstname: '',
        lastname: '',
        company: '',
        message: '',
        website: '',
        context: {
          'hutk': this.$cookies.get('hubspotutk'),
          'pageUrl': 'https://www.pablo-rosa.com/contact',
          'pageName': 'Contact Us'
        }
      },
      show: true
    }
  },
  mounted () {
    if (process.env.NODE_ENV === 'development') {
      this.form = {
        email: 'pablo-rosa@m.com',
        firstname: 'Pablo',
        lastname: 'Rosa',
        company: 'IQmines',
        message: 'this is a test',
        website: 'pablo-rosa.com',
        context: {
          'hutk': this.$cookies.get('hubspotutk'),
          'pageUrl': 'https://www.pablo-rosa.com/contact',
          'pageName': 'Contact Us'
        }
      }
    }
  },
  methods: {
    showModal (text) {
      this.$refs.contactModal.show()
      this.modalText = text
    },
    onSubmit (evt) {
      this.showModal('Contacting Pablo Rosa.')
      evt.preventDefault()
      this.$http.post('https://api.hsforms.com/submissions/v3/integration/submit/4914082/5d470141-7cf0-46be-bdaa-faab7050a514', JSON.stringify(this.req))
        .then(response => {
          this.modalStatus = 'Success!!'
        }, response => {
          this.modalStatus = 'Error, we couldn\'t deliver your message'
          this.requestStatus = false
        })
      // alert(JSON.stringify(this.form))
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.firstname = ''
      this.form.lastname = ''
      this.form.company = ''
      this.form.message = ''
      this.form.website = ''
      this.form.email = ''
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => { this.show = true })
    }
  },
  computed: {
    req () {
      return {
        submittedAt: Date.now(),
        fields: [
          {
            'name': 'firstname',
            'value': this.form.firstname
          },
          {
            'name': 'lastname',
            'value': this.form.lastname
          },
          {
            'name': 'email',
            'value': this.form.email
          },
          {
            'name': 'message',
            'value': this.form.message
          },
          {
            'name': 'website',
            'value': this.form.website
          }

        ]
      }
    }
  }
}
</script>

<style lang="css" scoped>
 .contact-form {
    padding:15px;
  }
 .contact-form button {
    margin:10px;
 }
</style>