<template>
	<b-navbar toggleable="md" type="dark" variant="dark" sticky>

      <b-nav-toggle target="nav_collapse"></b-nav-toggle>

      <b-navbar-brand class="name-font"><router-link to="/" tag="a" class="text-warning">Pablo</router-link></b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <!-- <b-nav-item><router-link to="/" tag="li">WELCOME</router-link></b-nav-item> -->
          <b-nav-item><router-link to="/about" tag="li">ABOUT ME</router-link> </b-nav-item>
          <b-nav-item><router-link to="/contact" tag="li">CONTACT</router-link> </b-nav-item>
          <b-nav-item><router-link to="/tutorials" tag="li">TUTORIALS</router-link> </b-nav-item>
<!--          <b-nav-item><router-link to="/hubspot-modules" tag="li">HUBSPOT RESOURCES</router-link> </b-nav-item>-->
           <b-nav-item><router-link :to="{ name:'concrete-calculator' }" tag="li">APPS</router-link> </b-nav-item>
          <!-- <b-nav-item><router-link :to="{ name:'story' }" tag="li">STORY</router-link> </b-nav-item> -->
          <!-- <b-nav-item><router-link :to="{ name:'work' }" tag="li">WORK</router-link> </b-nav-item> -->
          <!-- <b-nav-item><router-link :to="{ name:'blog' }" tag="li">BLOG</router-link> </b-nav-item> -->
        </b-navbar-nav>


        <!-- Right aligned nav items -->
        <b-nav is-nav-bar class="ml-auto">

          <!-- <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form> -->

          <!-- <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown> -->

          <!-- <b-nav-item-dropdown right> -->
            <!-- Using button-content slot -->
            <!-- <template slot="button-content">
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Signout</b-dropdown-item>
          </b-nav-item-dropdown> -->
        </b-nav>

      </b-collapse>
    </b-navbar>
</template>

<script>
export default {

  name: 'navbar',
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>
