<template>
  <b-container fluid id="skills" class="margin-top5">
    <b-row class="">
      <b-col align-self="end" md="12" lg="2" class="fluid">
        <div class="name-font h1 about-box">My <span class="text-warning">skills</span> </div>
      </b-col>
        <!-- <b-img-lazy src='@/assets/skills.png'></b-img-lazy> -->
      <b-col md >
        <b-card bg-variant="info" text-variant="white" title="Back-End Skills">
          <b-row>
            <b-col sm="12" lg="4" class="text-left">PHP</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Laravel</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Mysql</b-col>
            <b-col>
              <b-progress height="1rem" :value="70"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">DB Design</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Server Conf</b-col>
            <b-col>
              <b-progress height="1rem" :value="30"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">AWS</b-col>
            <b-col>
              <b-progress height="1rem" :value="30"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">GCP</b-col>
            <b-col>
              <b-progress height="1rem" :value="30"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Nodejs</b-col>
            <b-col>
              <b-progress height="1rem" :value="30"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">SEO</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="warning" class="mb-4"></b-progress>
            </b-col>
          </b-row>
        </b-card>
        <!-- <b-img-lazy src="../assets/skills.png" center fluid-grow width="600" height="400" blank-color="#bbb" alt="img" class="my-5" /> -->
        <!-- <div class="skills-image "></div> -->
      </b-col>
      <b-col align-self="center">
        <b-card  bg-variant="dark" text-variant="white" title="Front-End Skills">
          <b-row>
            <b-col sm="12" lg="4" class="text-left">HTML</b-col>
            <b-col>
              <b-progress height="1rem" :value="100"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Java script</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">CSS</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Vuejs 1</b-col>
            <b-col>
              <b-progress height="1rem" :value="100"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Vuejs 2</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Web Design</b-col>
            <b-col>
              <b-progress height="1rem" :value="70"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Responsive Design</b-col>
            <b-col>
              <b-progress height="1rem" :value="100"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Accessibility</b-col>
            <b-col>
              <b-progress height="1rem" :value="70"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Bootstrap</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">jQuery</b-col>
            <b-col>
              <b-progress height="1rem" :value="60"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
        </b-card>
      </b-col>


    </b-row>
    <b-row>
    <b-col align-self="end" cols="12" class="fluid">
      <div class="name-font h1 about-box spacer-top">Working with <span class="text-warning">Marketing</span> </div>
    </b-col>
      <b-col lg align-self="center">
        <br>
        <b-card  bg-variant="dark" text-variant="white" title="Platforms and Stats">
          <b-row>
            <b-col sm="12" lg="4" class="text-left">HubSpot</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">WordPress</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">MOZ</b-col>
            <b-col>
              <b-progress height="1rem" :value="60"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">SemRush</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Google Analytics</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">HotJar</b-col>
            <b-col>
              <b-progress height="1rem" :value="80"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" lg="4" class="text-left">Web Performance</b-col>
            <b-col>
              <b-progress height="1rem" :value="90"   variant="success" class="mb-4"></b-progress>
            </b-col>
          </b-row>

        </b-card>
      </b-col>
      <b-col align-self="center">
        <br>
        <b-card  bg-variant="dark" text-variant="white" title="Portfolio">
          <b-card-group>
            <b-carousel id="carousel1"
                            style="text-shadow: 1px 1px 2px #333;"
                            controls
                            indicators
                            background="#ababab"
                            :interval="4000"
                            img-width="1024"
                            img-height="480"
                            v-model="slide"
                            @sliding-start="onSlideStart"
                            @sliding-end="onSlideEnd"
                >

                  <!-- Text slides with image -->
                  <b-carousel-slide
                                    img-alt="link systems website screenshot"
                                    img-src="../assets/link_systems.png"
                  >
                      <div><a href="https://www.link-systems.com" class="text-success">Link Systems</a></div>
                    <span >2017</span><br>
                  </b-carousel-slide>
                  <b-carousel-slide
                                    img-alt="vXchnge website screenshot"
                                    img-src="../assets/images/vxchnge-website.png"
                  >
                      <div><a href="https://www.vxchnge.com" class="text-success">vXchnge</a></div>
                    <span >2018</span><br>
                  </b-carousel-slide>
                  <b-carousel-slide
                                    img-alt="DSL system screenshot"
                                    img-src="../assets/images/Drop_Ship_Logistics.png"
                  >
                      <div><a href="https://www.dropshiplogistics.com/" class="text-success">DSL - Drop Ship Logistics</a></div>
                    <br>
                  </b-carousel-slide>

                </b-carousel>
                <!-- <b-card image-alt="link systems website"
                    text-variant="dark"
                        img-src="../assets/link_systems.png"
                        img-fluid
                        img-top>
                    <p class="card-text">
                      <span >2017</span><br>
                      <a href="https://www.link-systems.com" >Link Systems</a>
                    </p>
                </b-card>
                <b-card image-alt="link systems website"
                    text-variant="dark"
                        img-src="../assets/link_systems.png"
                        img-fluid
                        img-top>
                    <p class="card-text">
                      <span >2017</span><br>
                      <a href="https://www.link-systems.com" >Link Systems</a>
                    </p>
                </b-card>
                <b-card image-alt="link systems website"
                        text-variant="dark"
                        img-src="../assets/link_systems.png"
                        img-fluid
                        img-top>
                    <p class="card-text">
                      <span >2017</span><br>
                      <a href="https://www.link-systems.com" >Link Systems</a>
                    </p>
                </b-card>
                <b-card image-alt="link systems website"
                        text-variant="dark"
                        img-src="../assets/link_systems.png"
                        img-fluid
                        img-top>
                    <p class="card-text">
                      <span >2017</span><br>
                      <a href="https://www.link-systems.com" >Link Systems</a>
                    </p>
                </b-card> -->
            </b-card-group>

        </b-card>
      </b-col>

    </b-row>
    <b-row class="margin-top5">
        <b-col lg="12" >
          <div class="name-font h1 about-box">Proficient with <span class="text-warning">Tools</span> </div>
        </b-col>
        <b-col lg="8">
        <b-card-group columns>
                <b-card title="Photoshop"
                        img-src="../assets/photoshop_glass.png"
                        img-fluid
                        img-alt="adobe photoshop"
                        img-top>
                    <p class="card-text">
                    </p>
                </b-card>
                <b-card title="Illustrator"
                        img-src="../assets/illustrator.png"
                        img-fluid
                        img-alt="adobe Illustrator"
                        img-top>
                    <p class="card-text">
                    </p>
                </b-card>
                <b-card title="Gulp"
                        img-src="../assets/gulp-2x.png"
                        img-fluid
                        img-alt="Gulp"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="Composer"
                        img-src="../assets/composer.png"
                        img-fluid
                        img-alt="Composer"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="npm"
                        img-src="../assets/npmlogo.png"
                        img-fluid
                        img-alt="npm"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="git"
                        img-src="../assets/Git-Logo-2Color.png"
                        img-fluid
                        img-alt="git"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="Sublime Text"
                        img-src="../assets/sublime_text_icon_2181.png"
                        img-fluid
                        img-alt="Sublime text"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="Terminal"
                        img-src="../assets/bash-148836_960_720.png"
                        img-fluid
                        img-alt="Terminal"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="Webpack"
                        img-src="../assets/webpack.png"
                        img-fluid
                        img-alt="Webpack"
                        class="mb-3 max-image"
                        img-top>

                </b-card>
                <b-card title="browserify"
                        img-src="../assets/browserify_logo.png"
                        img-fluid
                        img-alt="browserify"
                        class="mb-3 max-image"
                        img-top>
                </b-card>

            </b-card-group>
          </b-col>
      </b-row>

  </b-container>
</template>

<script>
import { track } from './mixin/track'
import { addtitle } from './mixin/addtitle'
export default {
  mixins: [track, addtitle],
  name: 'skills',
  metaInfo: {
    // Children can override the title.
    title: 'Skills',
    meta: [
      {name: 'description', content: 'Use this list of skill to see how I can help you with your needs'},
      {itemprop: 'name', content: 'Skills | Pablo Rosa\'s Website'},
      {itemprop: 'description', content: 'Use this list of skill to see how I can help you with your needs'}
    ],
    link: [
      {rel: 'canonical', href: 'https://www.pablo-rosa.com/about'}
    ]
  },
  data () {
    return {
      title: 'Skills'
    }
  }
}
</script>

<style lang="css" scoped>
  .card img{ max-width: 40% !important; align-self: center;margin-top: 10px }
  .card { margin-top:10px; }
 .spacer-top{ margin-top:20px;}
</style>