<template>
    <div>
        this is the first line
        <div
            v-scroll="handleScroll"
            class="box"
          >
          this is some scrolling text
        </div>

    </div>

</template>

<script>
import { addtitle } from '../mixin/addtitle'
import { track } from '../mixin/track'

var description = 'this is the page description to show in the meta tag'
var title = 'How to use HubSpot hbldb data with Vue js'

export default {
  metaInfo: {
  // Children can override the title.
    title: title,
    meta: [
      {
        name: 'description', content: description
      },
      {
        name: 'name', content: title
      },
      {
        name: 'keywords', content: 'HubSpot data base, Vuejs'
      }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.pablo-rosa.com/tutorials/hubspot-hbldb-and-vue-js'}
    ]
  },
  name: 'hubspot-hbldb-and-vue-js',
  mixins: [addtitle, track],

  data () {
    return {
      test: 0,
      title: title,
      description: description
    }
  }
}
</script>

<style lang="css" scoped>
</style>