<template>
  <div>
    <b-container fluid id="about">
    <b-row>
    <b-col lg="3">
      <div><router-link to="/tutorials">Tutorials</router-link></div>
      <b-list-group class="text-left">
        <router-link :to="{ name:'tutorials-hbl' }"><b-list-group-item>How to use HubSpot hbldb data with Vuejs</b-list-group-item></router-link>
        <router-link :to="{ name:'tutorials-google-a' }"><b-list-group-item>How to implement Goggle Analytics in a Vuejs SPA</b-list-group-item></router-link>
        <router-link :to="{ name:'canonical-blog-issue' }"><b-list-group-item>How to fix canonical issues in hubspot blog listing pages</b-list-group-item></router-link>
      </b-list-group>
    </b-col>
    <b-col lg="9">
      <transition name="slide-fade">
        <router-view></router-view>
      </transition>
    </b-col>
  </b-row>
  </b-container>
  </div>
</template>

<script>
  export default {
    name: 'tutorials',

    data () {
      return {

      }
    }
  }
</script>

<style lang="css" scoped>
.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.list-group-item {
  font-size: 13px;
  padding: 0.3rem 0.3rem;
}
.list-group-item:hover, .list-group-item:hover  a, .router-link-active .list-group-item { background: #ffc107; color: white; }
.list-group a { text-decoration: none }

</style>