<template>
  <div>
    This is me trying to share my knowledges in programming with the community
  </div>
</template>

<script>
import { addtitle } from '../mixin/addtitle'
import { track } from '../mixin/track'
var description = 'Sharing knowledge is a principle that every professional should practice.'
var title = 'Tutorials'

export default {
  metaInfo: {
  // Children can override the title.
    title: title,
    meta: [
      {
        name: 'description', content: description
      },
      {
        name: 'name', content: title
      },
      {
        name: 'keywords', content: 'HubSpot data base, Vuejs'
      }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.pablo-rosa.com/tutorials'}
    ]
  },
  name: 'tutorial-body',
  mixins: [addtitle, track],

  data () {
    return {
      test: 0,
      title: title,
      description: description
    }
  }
}
</script>

<style lang="css" scoped>
</style>