<template>
    <div id="app">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <navbar></navbar>
      <transition name="slide-l-fade">
          <router-view name="banner"/>
      </transition>
      <transition name="slide-r-fade">
          <router-view name="first"/>
      </transition>
      <transition name="slide-r-fade">
          <router-view name="second"/>
      </transition>
  </div>
</template>

<script>
import navbar from '@/components/navbar.vue'

export default {
  name: 'app',
  components: {
    navbar
  },
  metaInfo: {
    // Children can override the title.
    title: 'Pablo Rosa | Web Developer',
    // Result: My Page Title ← My Site
    // If a child changes the title to "My Other Page Title",
    // it will become: My Other Page Title ← My Site
    titleTemplate: '%s ← Pablo-Rosa.com',
    // Define meta tags here.
    meta: [
      {'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'},
      {name: 'viewport', content: 'width=device-width, initial-scale=1'}
    ],
    noscript: [
      { innerHTML: 'This website requires JavaScript.' }
    ]
  }
}
</script>

<style>

</style>
