<template>
  <b-jumbotron
    text-variant="white"
    class="tutorial-banner no-margin-button"
    fluid
  >
    <b-row class="transparent-box">
      <b-col>
        <h1 class="h1"><span class="h3" v-text="pageTitle"></span> </h1>
        <h2 class="h4"><span class="text-warning name-font ">Useful apps using vue components</span> </h2>
        <!-- <div>I'm a professional Web Developer.</div> -->
      </b-col>
    </b-row>
  </b-jumbotron>
</template>

<script>
  export default {

    name: 'appsBanner',
    data () {
      return {
      }
    },
    computed: {
      pageTitle () {
        return this.$store.getters.getPageTitle
      }
    }
  }
</script>

<style lang="css" scoped>
</style>
