<template>
  <b-jumbotron
            text-variant="white"
            class="contacts-banner no-margin-button"
            fluid
            >
        <b-container>
            <b-row class="transparent-box">
              <b-col offset-lg="6" >
                  <div class="h4"><span class="h3">Lets Talk about your needs</span> </div>
                  <div class="h4"><span class="text-warning name-font ">is it SEO? or Web Envelopment?</span> </div>
                  <!-- <div>I'm a professional Web Developer.</div> -->
              </b-col>
            </b-row>
        </b-container>

      </b-jumbotron>
</template>

<script>
export default {

  name: 'contact-banner',

  data () {
    return {

    }
  },
  methods: {
  }
}
</script>

<style >

</style>