<template>
	<b-jumbotron>
		<h1>Error code: 404</h1>
		<h2>The page you are looking for was not found</h2>
	</b-jumbotron>
</template>

<script>
export default {

  name: 'error404',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>