<template>
	<b-jumbotron 
            text-variant="white" 
            class="skills-banner no-margin-button"
            fluid
            >
        <b-container>
            <b-row class="transparent-box">
              <b-col offset-lg="6" >
                  <div class="h4"><span class="h1">Getting to know</span> <span class="text-warning name-font ">my skills</span></div>
                  
                  <!-- <div>I'm a professional Web Developer.</div> -->
              </b-col>
            </b-row>
        </b-container>
        
        <ui-button color="primary" class="margin-top" v-scroll-to="'#skills'">Tell me More</ui-button>
        <ui-button color="primary" title="Resume in google docs" @click="resume">Resume</ui-button>
        
      </b-jumbotron>
</template>

<script>
export default {

  name: 'skills-banner',

  data () {
    return {

    }
  },
  methods: {
    resume () {
      window.location.href = 'https://docs.google.com/document/d/122y-_Yn3auz_YWD_NzYLsNdK0sdzovkukxDb0mbXwbU/edit?usp=sharing'
    }
  }
}
</script>

<style >

</style>