<template>
	<b-jumbotron
            text-variant="white"
            class="code-banner no-margin-button"
            fluid
            >
        <b-container>
            <b-row class="transparent-box">
              <b-col offset-lg="6" >
                  <h1 class="h4"><span class="h1">Hi</span>, my name is <span class="text-warning name-font ">Pablo Rosa</span></h1>
                  <h2 class="h6">I'm a professional Web Developer.</h2>
              </b-col>
            </b-row>
        </b-container>
        <ui-button color="primary" class="margin-top" v-scroll-to="'#about'"> Tell me More</ui-button>
        <a class="btn btn-warning" href="https://brave.com/pab981"> Get a Secure Browser</a>
      </b-jumbotron>
</template>

<script>
export default {
  name: 'welcomeBanner',
  data () {
    return {

    }
  }
}
</script>

<style lang="css">

</style>