<template>
  <div>
    <b-container class="mt-4">
      <div class="text-right">
        <ui-button @click="addSlap()" class="mt-2" color="green">Add a New Slab</ui-button>
      </div>
      <b-row v-for="(item, index) in myslaps">
        <label class="col-12 text-left" v-text="'Slap ' + (index+1)"></label>
        <b-col cols="10">
          <b-row>
            <ui-textbox class="text-left pl-2 col-6 col-sm-4"
                        label="Side A" v-model="item.x" type="number"
                        placeholder="feet"
                        :min="1"></ui-textbox>
            <ui-textbox class="text-left pl-2 col-6 col-sm-4"
                        label="Side B" v-model="item.y" type="number"
                        placeholder="feet"
                        :min="1"></ui-textbox>
            <ui-textbox class="text-left pl-2 col-6 col-sm-4"
                        label="Thickness" v-model="item.t"
                        type="number"
                        placeholder="inches"
                        :min="1"></ui-textbox>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row class="text-left">
            <label class="col-10" v-text="'Yards: '+ calculateYards(item, index)"></label>
            <div class="col-2">
              <ui-icon-button class="" type="secondary" color="red" size="mini" icon="delete"
                              @click="removeSlap(index)"></ui-icon-button>
            </div>
          </b-row>
        </b-col>
      </b-row>
      <div class="mt-5 bg-light p-3">
        <div class="float-right">
          <label class="text-left" v-text="'Total Yards: ' + totalYards"></label>
          <br>
          <label class="" v-text="'Total Price: $' + (totalYards* pricePerYard).toFixed(2)"></label>
        </div>
        <b-row>
          <ui-textbox type="text"
                      class="text-left"
                      icon="attach_money"
                      label="Price per Cubic Yard of concrete"
                      title="$118 is the price I found for mixed concrete with fiber in tampa"
                      v-model="pricePerYard"></ui-textbox>
        </b-row>
      </div>
      <ui-button @click="toogleSketch" v-show="validSlaps">Sketch the slabs</ui-button>
      <div id="painter">

        <paint-slaps :slaps="myslaps" v-show="sketch && validSlaps"></paint-slaps>
      </div>
    </b-container>
  </div>
</template>

<script>
  import {track} from './../mixin/track'
  import {addtitle} from './../mixin/addtitle'
  import paintSlaps from './PaintSlaps'

  class Slap {
    constructor () {
      this.x = ''
      this.y = ''
      this.t = ''
      this.yards = 0
    }
  }

  export default {
    mixins: [track, addtitle],
    name: 'concrete-calculator',
    components: {
      paintSlaps
    },
    data () {
      return {
        myslaps: [],
        title: 'Calculate total yards in concrete projects',
        pricePerYard: 118,
        sketch: false
      }
    },
    mounted () {
      this.addSlap()
    },
    methods: {
      addSlap () {
        this.myslaps.push(new Slap())
      },
      toogleSketch () {
        this.sketch = !this.sketch
      },
      calculateYards (item, index) {
        let total = ((Number(item.x) * Number(item.y)) * (Number(item.t) / 12) * 0.037).toFixed(2)
        this.myslaps[index].yards = total
        return total
      },
      removeSlap (index) {
        this.myslaps.splice(index, 1)
      },
      calcTotal (total, item) {
        console.log(total)
        return total + Number(item.yards)
      }
    },
    computed: {
      totalYards () {
        return (this.myslaps.reduce(this.calcTotal, 0)).toFixed(2)
      },
      validSlaps () {
        return this.myslaps.every(function (item) {
          return (item.x !== '' && item.y !== '')
        })
      }
    },
    metaInfo: {
      // Children can override the title.
      title: 'Calculate yards in concrete projects',
      meta: [
        {name: 'description', content: 'Use this app to calculate total expenses for a concrete project'},
        {itemprop: 'name', content: 'Concrete Calculator | Pablo Rosa\'s Website'},
        {itemprop: 'description', content: 'Use this app to calculate total expenses for a concrete project'}
      ],
      link: [
        {rel: 'canonical', href: 'https://www.pablo-rosa.com/concrete-calculator'}
      ]
    }
  }
</script>

<style scoped>

</style>
