<template>
  <v-stage :config="configKonva" style="background: #f9f9f9" class="mt-3">
    <v-layer>
      <v-rect v-for="slap in drawSlaps" :config="slap"></v-rect>
    </v-layer>
  </v-stage>
</template>

<script>
  export default {
    name: 'PaintSlaps',
    props: {
      slaps: []
    },
    data () {
      return {
        configKonva: {
          width: 800,
          height: 800,
          fill: '#00D2FF'
        }
      }
    },
    computed: {
      drawSlaps () {
        let newslaps = []
        this.slaps.forEach(function (item, index) {
          let slap = {}
          slap.width = Number(item.x) * 5
          slap.height = Number(item.y) * 5
          slap.draggable = true
          slap.x = 5
          slap.y = 50
          slap.fill = 'gray'
          slap.opacity = 0.8
          slap.shadowBlur = 2
          newslaps.push(slap)
        })
        return newslaps
      }
    }
  }
</script>

<style scoped>

</style>
{
x: 20,
y: 50,
width: 100,
height: 100,
fill: 'red',
shadowBlur: 10
}
